@model IEnumerable<ProjetAsp.Models.Client>

@{
    Layout = "~/Views/Shared/_nob.cshtml";
}
@{
    ViewBag.Title = @ProjetAsp.Resources.HomeTexts.GestionClient;
}




<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">

             
                    @Ajax.BeginForm("AfficherEtd", "AdminHome", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div1", InsertionMode = InsertionMode.Replace, })
                    <h3>entre cne de etd :   @Html.TextBox("searchitem", null, new { id = "txtsearch" })  </h3>
                    <br />

                    @{ Html.EndForm();}


                <br />


                <div id="div1">

                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.numClient)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.login)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.mdp)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.nom)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.prenom)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ville)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tel)
                            </th>

                            <th></th>
                        </tr>

                        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.numClient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mdp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.prenom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ville)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tel)
                    </td>

                    <td>
                        @Html.ActionLink(@ProjetAsp.Resources.HomeTexts.Edit, "EditClient", new { id = item.numClient }) |
                        @Html.ActionLink(@ProjetAsp.Resources.HomeTexts.Delete, "DeleteClient", new { id = item.numClient })
                    </td>
                </tr>
}

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>