@model IEnumerable<ProjetAsp.Models.Article>

@{
    Layout = "~/Views/Shared/_nob.cshtml";
}

@{
    ViewBag.Title = ProjetAsp.Resources.HomeTexts.GestionArticle;
}

<script>

    $(function () {

        $("#x").change(function () {
            $.get("/Acceuil/GetArticle", { ID: $("#x").val() }, function (data) {

                $("#contenu").empty();

                $.each(data, function (index, ligne) {

                    $("#contenu").append("<option value='" + ligne.numArticle + "'>" + ligne.designation + "</option>")

                });
            })
        });
    });

</script>

<script>

    $(function () {

        $("#contenu").change(function () {
            $("#sercharticle").submit();


        });
    });

</script>



<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">

                <form action="/AdminHome/ChercherArticle" method="post" id="sercharticle">

                    <table>

                        <tr>
                            <td>@ProjetAsp.Resources.HomeTexts.ChoixCat</td>
                            <td>
                                @Html.DropDownList("x", ViewBag.e as SelectList, "select Categorie");
                            </td>
                        </tr>
                        <tr>
                            <td>@ProjetAsp.Resources.HomeTexts.ChoixArt</td>
                            <td>

                                <select id="contenu" name="contenu"></select>
                            </td>
                        </tr>

                        <tr></tr>
                    </table>


                </form>

                <br />



                <p>
                    @Html.ActionLink(@ProjetAsp.Resources.HomeTexts.CreateArt, "CreateArticle")
                </p>


                <div class="table-responsive table--no-card m-b-40">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th>Num Article</th>
                                <th>Designation</th>
                                <th>PrixU</th>
                                <th class="text-right">Stock</th>
                                <th class="text-right">Photo</th>
                                <th class="text-right">Categorie</th>
                                <th class="text-right">Setting</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model)
                            {

                                <tr>
                                    <td>@x.numArticle</td>
                                    <td>@x.designation</td>

                                    <td>$@x.prixU</td>
                                    <td class="text-right">@x.stock</td>
                                    <td style="width:200px; height:200px;">
                                        <img src="@Url.Content(x.photo)" />
                                    </td>
                                    <td class="text-right">$@x.Categorie.refcat</td>


                                    <td class="text-center">
                                        @Html.ActionLink(ProjetAsp.Resources.HomeTexts.Edit, "EditArticle", new { id = x.numArticle }) |
                                        @Html.ActionLink(ProjetAsp.Resources.HomeTexts.Delete, "DeleteArticle", new { id = x.numArticle })
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>