@model IEnumerable<ProjetAsp.Models.Categorie>

@{
    Layout = "~/Views/Shared/_nob.cshtml";
}
@{
    ViewBag.Title = ProjetAsp.Resources.HomeTexts.GestionCategorie;
}


<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">

                <p>
                    <h4>@Html.ActionLink(ProjetAsp.Resources.HomeTexts.CreateCat, "CreateCat")</h4>
                </p>
                
                <br />
                <div class="table-responsive table--no-card m-b-40">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th>Ref Categorie</th>
                                <th>Nom Categrie</th>
                                <th>Photo</th>
                                <th>Setting</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model)
                {

                    <tr>
                        <td>@x.refcat</td>
                        <td>@x.nomCat</td>

                        <td style="width:200px; height:120px;">
                            <img src="@Url.Content(x.photo)" />
                        </td>
                        <td class="text-center">
                            <h4>
                                @Html.ActionLink(ProjetAsp.Resources.HomeTexts.Edit, "EditCat", new { id = x.refcat }) |
                                @Html.ActionLink(ProjetAsp.Resources.HomeTexts.Delete, "DeleteCat", new { id = x.refcat })
                            </h4>
                        </td>
                    </tr>

    }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>