@model ProjetAsp.Models.Client
@{
    ViewBag.Title = "Login";
}



<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">LOGIN</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="#">Home</a></li>
                    <li class="active">Login</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-7">
                <!-- Billing Details -->

                <div class="billing-details">

                    <span style="color:red;">@ViewBag.err</span>
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.login, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.mdp, new { @class = "form-control" })

                            </div>
                        </div>

                        <div class="form-group">

                            <button class="primary-btn order-submit">Login</button>

                        </div>
                    }

                    <div class="form-group">
                        <div class="input-checkbox">
                            <input type="checkbox" id="create-account">
                            <label for="create-account">
                                <span></span>
                                Create Account?
                            </label>
                            <div class="caption">
                                <p>Vous pouvez s'inscrire en remplissant ce formulaire !</p>

                                @using (Html.BeginForm("Inscription","Login",FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                    <div class="form-group">
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.nom, new { htmlAttributes = new { placeholder = "Nom", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.prenom, new { htmlAttributes = new { placeholder = "Prenom", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.prenom, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { placeholder = "Email", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.login, new { htmlAttributes = new { placeholder = "Login", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            @Html.PasswordFor(model => model.mdp, new { @class = "form-control", placeholder = "Password" })
                                            @Html.ValidationMessageFor(model => model.mdp, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.ville, new { htmlAttributes = new { placeholder = "Ville", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ville, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.tel, new { htmlAttributes = new { placeholder = "Telephone", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.tel, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <input type="submit" value=@ProjetAsp.Resources.HomeTexts.Create class="btn btn-default" />

                                </div>
                                }



                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Billing Details -->

            </div>


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->